<div id="setpsw">
    <form method="post" action="/users/setpsw" class="form-container">

        <h1>It's time to change!</h1>
        <input type="password" placeholder="Enter a new password" name="password" required>
        <input type="password" placeholder="Repeat the new password" name="repeatpassword" required>
    
        <button type="submit" class="btn">Update</button>
    </form>
</div>