<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login.css">

    <title>Login</title>
</head>
<body>
    <div id="navbar">
        <a href="/" id="logo">Ticket-System</a>
        <div id="navbar-left">
            <a href="/">Dashboard</a>
            <a href="/tickets">Tickets</a>
        </div>

        <div id="navbar-right">
            <a href="/login" class="active">Login</a>
        </div>
    </div>

    <div id="login">
        <form method="post" action="/login" class="form-container">

            <h1>Login</h1>
            <input type="text" placeholder="Enter your username" name="username" required>
            <input type="password" placeholder="Enter your password" name="password" required>
        
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>