<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login.css">

    <title>Update password</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/login') %>
</body>
</html>