<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tickets.css">

    <title>Dashboard</title>
</head>
<body>
    <div id="navbar">
        <a href="/" id="logo">Ticket-System</a>
        <div id="navbar-right">
            <a href="/">Dashboard</a>
            <a href="/tickets" class="active">Tickets</a>
        </div>
    </div>

    <div class="container">
        <div class="content-head">
            <p id="tickets-title"></p>
            <div class="button-group">
                <button id="createTicket" onclick="openForm()">Create ticket</button>
            </div>
        </div>

        <input type="text" class="search" id="search" placeholder="Search for a ticket">

        <div class="filters">
            <div class="filter">
                <p class="filter-title">ID</p>
            </div>
            <div class="filter">
                <p class="filter-title">Name</p>
            </div>
            <div class="filter">
                <p class="filter-title">Description</p>
            </div>
            <div class="filter">
                <p class="filter-title">Date Created</p>
            </div>
        </div>
        
        <div class="ticket-container" id="ticket-list">
        </div>
          

        <div class="form-popup" id="myForm">
            <form method="post" action="/create-ticket" class="form-container">
              <h1>Create a Ticket</h1>
          
              <label for="title"><b>Title</b></label>
              <input type="text" placeholder="Enter a ticket title" name="title" required>

              <label for="description"><b>Description</b></label>
              <input type="text" placeholder="Enter a description" name="description" required>

              <label for="status"><b>Status</b></label>
              <input type="text" placeholder="Enter a status" name="status" required>
          
              <button type="submit" class="btn">Create</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>

    <script src="js/form-handlers.js"></script>
    <script src="js/search.js"></script>
</body>
</html>