<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/tickets.css">

    <title>Dashboard</title>
</head>
<body>
    <div id="navbar">
        <a href="/" id="logo">Ticket-System</a>
        <div id="navbar-right">
            <a href="/">Dashboard</a>
            <a href="/tickets" class="active">Tickets</a>
        </div>
    </div>

    <div class="container">
        <div class="content-head">
            <p id="title">Tickets (0)</p>
            <div class="button-group">
                <button id="createTicket">Create ticket</button>
            </div>
        </div>

        <div class="search">
            <input type="text" id="search" placeholder="Search for a ticket">
        </div>

        <div class="filters">
            <div class="filter">
                <p class="filter-title">ID</p>
            </div>
            <div class="filter">
                <p class="filter-title">Name</p>
            </div>
            <div class="filter">
                <p class="filter-title">Description</p>
            </div>
            <div class="filter">
                <p class="filter-title">Date Created</p>
            </div>
        </div>
        
        <div class="ticket-container">
            <div class="ticket">
                <p class="ticket-info">ABC123</p>
                <p class="ticket-info">Feil med pc</p>
                <p class="ticket-info">Det skjer en feil med pcen</p>
                <p class="ticket-info">30/08/2024</p>
            </div>

            <div class="ticket">
                <p class="ticket-info">ABC123</p>
                <p class="ticket-info">Feil med pc</p>
                <p class="ticket-info">Det skjer en feil med pcen</p>
                <p class="ticket-info">30/08/2024</p>
            </div>
        </div>
    </div>
</body>
</html>