@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {box-sizing: border-box;}
 
body { 
  margin: 0;
  font-family: Inter, "Open Sans", sans-serif;
  font-weight: bold;
  background-color: #f8f8f9;
}

#logo {
  font-family: Nunito sans, sans-serif;
  font-weight: bolder;
}

.route {
  font-weight: 200;
  font-size: medium;
}

.route a {
  text-decoration: none;
  color:black;
}


/* INPUT AND FORMS STYLING */

.form-container {
  margin-top: 50px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: bottom;
}

label {
  font-size: 1em;
  font-weight: 400;
  flex: 0 0 200px;
}

input[type="text"], textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  font-family: Inter, "Open Sans", sans-serif;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  background-color: #fff;
}

textarea {
  resize: none;
}


/* DROPDOWN */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 200px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
}

.dropdown-button::after {
  content: '\25BC';
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.dropdown-button:hover {
  background-color: #f7f7f7;
  border-color: #999;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 1px 0;
  padding: 0;
  width: 200px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  font-weight: 400;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #3498db;
  color: #fff;
}