#navbar {
  overflow: hidden;
  padding: 30px 10px;
  transition: 0.4s;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
}

#navbar-left {
  display: flex;
}

#navbar-right {
  display: flex;
  margin-left: auto;
}

#navbar a {
  color: #000000;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

#navbar a:not(#logo)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  max-width: 50px;
  background-color: #000000;
  transition: width 0.3s ease-out, left 0.3s ease-out;
  transform: translateX(-50%);
}

#navbar a:not(#logo):hover::after {
  width: 100%;
}

#navbar #logo {
  font-size: 30px;
  font-weight: light;
  transition: 0.1s;
  text-transform: uppercase;
}



#navbar #logo:hover {
  color: #3d3d3d
}


#navbar button {
  background: none;
  color: #000000;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#navbar button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  max-width: 50px;
  background-color: #000000;
  transition: width 0.3s ease-out, left 0.3s ease-out;
  transform: translateX(-50%);
}

#navbar button:hover::after {
  width: 100%;
}

#navbar button:focus {
  outline: none;
}
